<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a senior student at
      <strong>Omar Bin Al-Khattab highschool</strong> finishing off a journey of 12 years with some awesome people. 
    </p>
    <p>
      In the mix of 
      <strong>Computer Science</strong> and <strong>Filmmaking</strong>, I love soaking up knowledge and often land top grades. 
    </p>
    <p>
      Immersed in the world of programming since a young age, I've always been fascinated by transforming ideas into funtional solutions. 
      From solving algorithmic puzzles to building an ML model for a daily life problem, I use every opportunity to strengthen my understanding and skills.
      I'm not just about programming; I also dig into filmmaking, storytelling, and critiquing. I'm friendly but also a bit picky when it comes to perfecting my work to produce elegant results. Team projects light me up, making tough stuff way easier. 
      Whether coding or storytelling, I'm always curious, asking why and how.
    </p>
    <p>
      Learning isn't just a skill; it's a habit, even in video games.    
    </p>
    <p>
        <strong>My big aim? Turn what I learn into a positive contribution for a better world.</strong>
    </p>

    <p>
      When I'm not in front of a computer screen, I'm writing, directing, and filming my ideas.
    </p>

    <!-- <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a> -->

  </div>
</section>
