<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a senior student at
      <a class="underline-link" href="https://www.obaianaya.com/" target="_blank">Omar Bin Al-Khattab highschool</a> finishing off a journey of 12 years with some awesome people. 
      In the mix of 
      <strong>Computer Science</strong> and 
        <strong>Filmmaking</strong>, I love soaking up knowledge and often land top grades. I'm not just about coding; I dig into Filmmaking, storytelling, and critiquing. I'm friendly but also a bit picky when it comes to my work. Team projects light me up, making tough stuff way easier. Whether coding or storytelling, I'm always curious, asking why and how. Learning isn't just a skill; it's a habit, even in video games.    </p>

    <p>
      My big aim? Turn what I learn into a positive contribution for a better world.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm writing, directing, and filming my ideas.
    </p>

    <!-- {% include employment-status.html %} -->
    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>

  </div>
</section>
