<section class="section featured-projects">
  <div class="section__title">Filmmaking</div>
  <div class="section__content">
    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/filmmaking/1.png" target="_blank">
            <div class="phone">
                <iframe  width="448" height="252" src="https://www.youtube.com/embed/hY7nTo564k0?si=cTQN8SUfuqvGjF27" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="phone">
                  <img width="350" src="{{site.baseurl}}/img/filmmaking/1.png" alt="">
                </div>
          </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Filmmaking Course</strong>
        </div>
        <p>Completed a filmmaking course with a focus on directing and production. Acquired knowledge of directing principles and techniques. 
          Demonstrated a practical understanding of the directorial process, directing my first ever film.
          </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
        <figure class="project__pic">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
            <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <strong>Personality Film</strong>
          </div>
          <p>Personality is my first ever film which secured a first place among five competing films.
            <br> Personality is a psychological/horror short film.
            I was the director, writer, editor and cameraman.
            <br>
            <h3 class="intro__contact">
                <span class="emoji pointer"></span>
                <span>
                  <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank" class="highlight-link">Watch Film</a>
                </span>
              </h3></p>
        </figcaption>
    </div>

    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/filmmaking/2.png" target="_blank">
            <div class="phone">
                <iframe width="448" height="252" src="https://www.youtube.com/embed/ZXjyynoURW4?si=qZBz82CxQfM4e2kD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="phone">
                  <img width="350" src="{{site.baseurl}}/img/filmmaking/2.png" alt="">
                </div>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <strong>Ajyal Film Festival Juror</strong>
          </div>
          <p>I was selected to be a juror for the 10th AJYAL Festival by <strong>Doha Film Institute</strong>, a transformative experience that deepened my commitment to filmmaking.
            <br>Engaged in critiquing films, interacting with directors and participating.
          </p>
        </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/filmmaking/4.png" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Where The Worlds Meet</strong>
        </div>
        <p>Where The Worlds Meet is an Arabic short story that secured a top-three position
            in a national storytelling competition organized by <strong>MATHAF - Arab Museum of Modern Art</strong>
          <br>
            <h3 class="intro__contact">
                <span class="emoji pointer"></span>
                <span>
                  <a href="{{site.baseurl}}/docs/3.3_motw.pdf" target="_blank" class="highlight-link">Read Story</a>
                </span>
              </h3>
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/filmmaking/5.png" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/5.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Theatre Actor</strong>
        </div>
        <p>Took a part of a theater organized by <strong>Al-Faisal without borders</strong>. Learned the art of acting and gained a valuable experience.</p>
      </figcaption>
    </div>

  </div>
</section>
