<section class="section featured-projects">
  <div class="section__title">Honors</div>
  <div class="section__content">

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/honors/honors/Grade11.png" target="_blank">
          <div class="phone">
              <img src="{{site.baseurl}}/img/honors/honors/Grade10.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/honors/honors/Grade11.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Honors Certificates</strong>
        </div>      

        <p>1- Certificate of Excellency for achieving <a href="{{site.baseurl}}/img/honors/honors/Grade10.png" class="highlight-link" target="_blank">97.12% in Grade 10</a>.
        <br>2- and on the right is a Certificate of Excellency for achieving <a href="{{site.baseurl}}/img/honors/honors/Grade11.png" target="_blank">99.44% in Grade 11</a>.
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/honors/more/2.png" target="_blank">
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/1.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/2.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/3.png" alt="">
            </div>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <strong>School Extracurricular Certificates</strong>
          </div>
          <p>1- Overall <a href="{{site.baseurl}}/img/honors/more/1.png" target="_blank">excellent performance in grade 10</a>.
            <br>2- Received the top <a href="{{site.baseurl}}/img/honors/more/2.png" target="_blank">library visitor</a> as I used to borrow books throughout the year.
            <br>3- Volunteered to <a href="{{site.baseurl}}/img/honors/more/3.png" target="_blank">organize and manage the library</a>
          </p>
        </figcaption>
      </div>
  </div>
</section>
