<section class="section featured-projects">
  <div class="section__title">Programming</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/programming/ml.png" target="_blank">
          <img src="{{site.baseurl}}/img/programming/ml.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Machine Learning Course</strong>
        </div>
        <p>Spent 20 hours of fundamental Machine Learning concepts with hands-on practice exercises.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/programming/screen3.png" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/programming/screen1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/programming/screen2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/programming/screen3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Image-based ML Model</strong>
        </div>
        <p>This is a prototype for my project during the ML course. I developed an image-based Machine Learning model that categorizes food calorie level based on food images.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/programming/python.png" target="_blank">
          <img src="{{site.baseurl}}/img/programming/python.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Introduction to Programming</strong>
        </div>
        <p>Completed an introductory Python course covering fundamentals and concepts of programming.
           Successfully applied Python commands, functions, and control structures by solving puzzles and writing creative programs for tracy the turtle. </p>
      </figcaption>
    </div>

    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/programming/minecraft.png" target="_blank">
            <div class="phone">
                <iframe width="448" height="252" src="https://www.youtube.com/embed/c7F1gHzV1jc?si=S5QfmX0Guq1IbQIo&amp;start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="phone">
                  <img width="350" src="{{site.baseurl}}/img/programming/minecraft.png" alt="">
                </div>
          </a>
      </figure>
      <figcaption class="project__caption">
          <div class="project__name">
            <strong>Minecraft Competition</strong>
          </div>
          <p>Designed and programmed a replica of the school building using minecraft.</p>
          <h3 class="intro__contact">
              <span class="emoji pointer"></span>
              <span>
                <a href="https://www.youtube.com/watch?v=c7F1gHzV1jc" target="_blank" class="highlight-link">Project</a>
              </span>
            </h3>
        </figcaption>
    </div>
  
  </div>
</section>
